@import "./_modal.scss";
@import "./_button.scss";
@import "./_datepicker.scss";
@import "./post.scss";
@import "./code.scss";
@import "./problem.scss";
@import "./vueshowdown.scss";
@import "./heatmap.scss";
@import "./_alert.scss";

//button 
.btn {
    background: #060c20;
    color: white;
    border-radius: 50px;
    margin: 3px;
    font-weight: bold;
    &:hover {
        color: white;
        background: #536292;
    }
}

.navbar {
    z-index: 7000 !important;
}

// table
thead {
    background-color: black;
    color: white;
    border: none;
    font-weight: 800;
}

tbody {
    tr:hover {
        background-color: #f4f4f8;
        cursor: pointer;
    }
    tr {
        @media (max-width: 420px) {
            font-size: calc(0.55rem + 2vw);
            padding: 0px;
        }
    }
}

.table-div {
    overflow-x: auto;
    .table {
        min-width: 700px;
        width: 100%;
        white-space: nowrap;
        border-collapse: collapse;
    }
}

// a tag
a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
}

// CompetitionList, ClassList
.app-container {
    padding: 3rem 3rem;
    header {
        display: flex;
        justify-content: space-between;
        padding: 3rem 0rem;
        h1 {
            margin-bottom: 0;
        }
        button {
            width: 6rem;
        }
    }
}

textarea,
.form-control {
  resize: none;
}

.progress {
  height: 0.7rem;
  margin-bottom: 20px;
}